{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <H1 style="text-align: center;">Artist Page</H1>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist {{ playlist.name }} - SONGAT</title>
    <link rel="stylesheet" href="{% static 'css/song.css' %}">
</head>
<body>

    <!-- Ad Section -->
    <header class="ad-section">
        <div class="ad-box">
            <p>Ad Space</p>
        </div>
    </header>

    <!-- Song Section -->
    <main class="song-section">
        <!-- Left: Song Image -->
        <div class="song-left">
            <img src="{% static 'images/playlist-img.png' %}" alt="{{ playlist.name }}" class="song-image">
        </div>

        <!-- Right: Song Details -->
        <div class="song-right">
            <h1 class="song-title">Playlist : {{ playlist.name }}</h1>

            <br/> <br/>

            <div class="song-controls">
                <button class="like-btn" id="like-btn">❤</button>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>© 2025 SONGAT. All rights reserved.</p>
    </footer>

    <!-- External JS -->
    <script src="{% static 'js/song.js' %}"></script>

</body>
</html>